<div class="jpg">
  <br>
    <div class = " databox ">
      <div class="example-container">
        <h2 class="title-name">ระบบเลือกแม่บ้าน</h2>
  
        <h2 class="title-company">ค้นหาด้วยบริษัท</h2>
        <mat-form-field class="prefix">
          <mat-select placeholder="เลือกบริษัท" [(ngModel)]="views.companySelect" name = "companyName">
            <mat-option *ngFor="let companyName of companys" [value]="companyName.companyName">
              {{companyName.companyName}}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="prefix">
          <mat-select placeholder="เลือกแม่บ้าน" [(ngModel)]="views.maidselect" name = "maidName">
            <mat-option *ngFor="let maidName of maids" [value]="maidName.maidName">
              {{maidName.maidName}}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <h2 class="work">หาจากคุณสมบัติที่ต้องการ</h2>
        <mat-form-field class="prefix">
          <mat-select placeholder="ลักษณะงานที่ต้องการทำ " [(ngModel)]="views.typeworkingSelect" name = "typeworking">
            <mat-option *ngFor="let typeworking of typeworking" [value]="typeworking.typeworking">
              {{typeworking.typeworking}}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="prefix">
          <mat-select placeholder="ระยะเวลาที่ต้องการทำงาน" [(ngModel)]="views.typeworkingDateSelect" name = "typeworkingDate">
            <mat-option *ngFor="let typeworkingDate of workingDate" [value]="typeworkingDate.typeworkingDate">
              {{typeworkingDate.typeworkingDate}}</mat-option>
          </mat-select>
        </mat-form-field>
  
      <mat-form-field class="dateInput">
        <mat-placeholder class="placeholder">Select Date</mat-placeholder>
        <input matInput [matDatepicker]="picker" class="placeholder" [(ngModel)]="views.dateInput">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker color="primary" class = "textBottom"></mat-datepicker>
      </mat-form-field>
  
        <mat-form-field class="workingdayInput" >
          <mat-placeholder class="placeholder">WORKINGDAY</mat-placeholder>
          <input matInput [(ngModel)]="views.workingdayInput">
        </mat-form-field>
  
        <mat-form-field class="mainjobInput" >
          <mat-placeholder class="placeholder">MAIN JOB</mat-placeholder>
          <input matInput [(ngModel)]="views.mainjobInput">
        </mat-form-field>
  
        <mat-form-field class="secondaryjobInput" >
          <mat-placeholder class="placeholder">SECONDARY JOB</mat-placeholder>
          <input matInput [(ngModel)]="views.secondaryjobInput">
        </mat-form-field>
  
        <mat-form-field class="placeInput" >
          <mat-placeholder class="placeholder">PLACE</mat-placeholder>
          <input matInput [(ngModel)]="views.placeInput">
        </mat-form-field>
  
        <button mat-button (click)="save_func()" >บันทึกการเลือกแม่บ้าน</button>
        <button mat-button (click)="Canceled()">ยกเลิกการเลือก</button>
  
  
      </div>
    </div>
  </div>
  