
     .panelmaster{
        position: absolute;
        width: 90%;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: 20px;
        height: 500px;
        background-image: url("kkkk.jpg");
        background-color: #cccccc;
        height: 100%; 
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .panel1{
        width: 18%;
        height: 275px;
        float: left;
        text-align: right;
       
      }
      .placeholder {
        color: rgb(53, 9, 175);
        opacity: 1;
      }
      .panel2{
        width: 25%;
        height: 275px;
        float: left;
        text-align: left;
      
      }
      .panel3{
        width: 27%;
        height: 275px;
        float: left;
       
      }
      .panel4{
        width: 30%;
        height: 400px;
        float: left;
      
      }
      
      #formtext{
        margin-right: 6px;
        margin:20px 20px 20px 20% ;
        font-size: 20px;
      }
      #formtext1{
        margin-right: 6px;
        margin:20px 20px 20px 20% ;
        font-size: 20px;
        text-align: right;
      }
  
      #input{
              margin-top: 5px;
              width: 250px;
              height: 35px;
              margin-right: 50px;
              float: left;
              margin-bottom: 20px;
            }
      .header_content{
          width: 100%;
          height: 70px;
          line-height: 70px;
          background: #000033;
          color:white;
      }
  .button-row{
      float:right;
      margin-right: 150px;
  }
  