@charset "utf-8";
body{
    font-family: 'Raleway', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
::placeholder{
    color: rgb(105, 105, 105);
}
.header_content{    
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgb(0, 191, 255);
    color:white;
}
.title{
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
}
.container{
    width: 50%;
    margin-left: 10%;
    background-color: rgba(0, 191, 255, 0.5);
    box-sizing: border-box;
    padding: 80px 80px;
}
.username,.password{

}
.username input,.password input{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 97%;
    font-size: 18px;
    color: #000000;
}
.password{
    margin-top: 10px;
}
h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.username input:focus,.password input:focus{
    outline: none;
}

.botton{
    margin-top: 10px;
    border-radius: 6%;
    float: right;
    border: none;
    background-color: rgb(0, 191, 255);
    color: #fff;
    padding: 8px;
}
.main{
    background-image: url("maid.jpg");
    background-color: #cccccc; 
    height: 622px; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}