<div class="header_content">
  <h1 class="title">G18 MaidMaid</h1>
</div>
<div class="main">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    
    <form>
      <h1>Login for Admin</h1>
      <br>
      <div class="username">
        <input matInput placeholder="Username" [(ngModel)]="select.customerEmail" name="customerEmail">
      </div>
      <div class="password">
        <input matInput [(ngModel)]="select.customerpass" name="customerpass" placeholder="Password" (click)="loadCustomerData()">
      </div>
      <div class="botton">
        <button mat-button (click)="login()">Login</button>
      </div>
      <br>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>