@charset "utf-8";
body{
    font-family: 'Raleway', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
.header_content{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 191, 255, 0.4);
    color:white;
}
.title{
    float: left;
    margin-left:17px;
}
.list_menu{
    float: right;
}
.list_menu li{
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    padding-right: 15px;
}
.list_menu li a{
    text-decoration: none;
    padding:10px 20px;
    font-family:"Roboto",sans-serif;
    font-size: 20px;
    color:white;
}
.list_menu li.active a{
    background-color: rgba(0, 191, 255, 0.7);
    border-radius: 8px;
    color:white;
}
.list_menu li a:hover{
    background-color: rgba(0, 191, 255, 0.9);
    border-radius: 8px;
    color:white;
}
.main_content{
    
    width: 100%;
    height: 652px;
    color:white;
}
.background_line{
    width: 5%;
    height: 570px;
    float: left;
}
.insert{
    width: 42.5%;
    height: 550px;
    background-color: rgba(0, 191, 255, 0.4);
    float: left;
    border-radius: 25px;
}

.table{
    width: 42.5%;
    height: 550px;
    background-color: rgba(0, 191, 255, 0.4);
    border-radius: 25px;
    float: left;
    padding-left: 30px;
}
.label{
    margin-left: 30px;
}
.label2{
    position: center;
}
.select_item{
    position: absolute;
    left: 7.5%;
    height: 35px;
    width:  35%;
    border: none;
    border-radius: 4px;
}
.calender{
    left: 6%;
    height: 35px;
    width:  82%;
    border: none;
    border-radius: 4px; 
}
.tableColumn{
    padding-left: 25px;
}
.add_button{
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 60px;
    width:  20%;
    border-color: #3f72af;
    border-radius: 8px;
    background: rgba(0, 191, 255,0.7);
    color:white;

}
.main_background{
    background-image: url("maid3.jpg");
    background-color: #cccccc;
    height: 100%; 
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}
