<div class="header_content">
  <h1 class="title">G18 MaidMaid</h1>
</div>

<div class="bb">
  <div class="datareview">
      <br/>
    <a class="ii">กรุณาใส่ข้อมูลให้ครบ</a>
   
    <br/>
      <mat-form-field class="prefix">
          <mat-select  placeholder="เลือกแม่บ้าน" [(ngModel)]="datareview.maidId" name = "maidName">
            <mat-option style="width: 300px;background-color:hsl(212, 100%, 24%);" *ngFor="let maidNames of maidName" [value]="maidNames.maidId">
              {{maidNames.maidName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field class="prefix">
          <mat-select placeholder="คะแนนรวม" [(ngModel)]="datareview.scoreId" name = "score">
            <mat-option *ngFor="let scores of score" [value]="scores.scoreId">
              {{scores.score}}</mat-option>   
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="prefix">
          <mat-select placeholder="คะแนนความชำนาญงาน" [(ngModel)]="datareview.scoreExId" name = "scoreEx">
            <mat-option *ngFor="let scoreExs of scoreEx" [value]="scoreExs.scoreExId">
              {{scoreExs.scoreEx}}</mat-option>   
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="prefix">
          <mat-select placeholder="คะแนนบุคลิกภาพ" [(ngModel)]="datareview.scorePerId" name = "scorePer">
            <mat-option *ngFor="let scorePers of scorePer" [value]="scorePers.scorePerId">
              {{scorePers.scorePer}}</mat-option>   
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="prefix">
          <mat-select placeholder="คะแนนความตรงต่อเวลา" [(ngModel)]="datareview.scoreTiId" name = "scoreTi">
            <mat-option *ngFor="let scoreTis of scoreTi" [value]="scoreTis.scoreTiId">
              {{scoreTis.scoreTi}}</mat-option>   
          </mat-select>
        </mat-form-field>
        

        <mat-form-field class="example-full-width">
          <input matInput placeholder="ความคิดเห็น" valuse = "" [(ngModel)]="datareview.review">
        </mat-form-field>
        <br/>
        <button class="ba" style="background-color:hsl(106, 88%, 66%);" mat-button    (click)="ss()">Save</button>
        <button class="b" style="background-color:hsl(29, 87%, 66%);" mat-button    (click)="cs()">Cancel</button>
       
        
        
  </div>
  
</div>
<!-- -------------------------------------- -->
<table class="tatata" mat-table [dataSource]="allReview">
      
          
      
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> No. </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.reviewId}}</td>
  </ng-container>

  <ng-container matColumnDef="maidName">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> Maid Name </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.maidRegisterEntity.maidName}}</td>
  </ng-container>

  <ng-container matColumnDef="scoreex">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> ScoreExpertise </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.scoreExpertiseEntity.scoreEx}}</td>
  </ng-container>

  <ng-container matColumnDef="scorepe">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> ScorePersonality </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.scorePersonalityEntity.scorePer}}</td>
  </ng-container>

  <ng-container matColumnDef="scoreti">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> ScoreTime </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.scoreTimeEntity.scoreTi}}</td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> Sum Score </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.scoreEntity.score}}</td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef class="tableColumn"> Comment </th>
    <td mat-cell *matCellDef="let element" class="tableColumn">{{element.review}}</td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)">
  </tr>
</table>